{% extends 'base.html' %}

{% block judul %}

{% endblock judul %}

{% block kotak %}
<h1>=====SELAMAT DATANG DI TOKO KITAB KUNING BERBASIS ONLINE=====</h1>
<p>
Kitab kuning adalah sebuah kitab yang sudah tidak asing lagi di kalangan santri nasional maupun internasional. 
Dan di sini anda bisa menemukan kitab kitab yang anda butuhkan karena wabsite ini merupakan pusat penjualan kitab kuning terbesar dan terpercaya.

<h1>_____SELAMAT BERBELANJA DITOKO KAMI_____</h1>
 {% endblock kotak %}